/* recent-developments section */

.recent-developments{
    display: flex;
    box-sizing: border-box;
    width:80%;
    height:450px;
    border:solid black 2px;
    border-radius: 5px;
    margin: auto;
    margin-top: 25px;
    overflow: hidden;
    background-color: #F5F5F5;
}

.content{
    width: 30%;
    height: 450px;
    padding:10px 10px;
}

.separator{
    padding:0px 10px 0px 10px;
}
.line{
    width: 2px;
    height: 45%;
    background-color: #F99417;
    margin: auto;
}
.circle{
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    border: solid #F99417 2px;
    margin: 10px 0px 10px 0px;
}

/* carousell */
.recent-developments .carousel-container{   
    width: 70%;
    height: 350px;
    margin-right: 10px;
}
.recent-developments .carousel-image{
    height: 100%;
    width: 100%;
}

/* line separator */
.section-separator{
    height: 10px;
    width: 600px;
    margin: auto;
    background-color: #F99417;
    margin-top: 90px;
    border-radius: 25px;
}

/* scroll item */
.heading{
    margin-top: 100px;
    text-align: center;
}
.strong-word{
    font-size: 50px;
    color: red;
}
.wrapped{  
    border:1px solid #ddd;
    display: flex;
    overflow-x: auto;
    margin: 5px 20px 5px 20px;
    width: 90%;
    margin: auto;
}
.wrapped::-webkit-scrollbar-thumb{
    width: 0px;
}
.wrapped .item{
    border: solid black 2px;
    border-radius: 5%;
    min-width: calc(80%/3);
    background-color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: calc(10%/3);
    margin-left: calc(10%/3);
    overflow: hidden;
    transition: 1s;
}
.wrapped .item a .card{
    height: 100%;
}
.wrapped .item a .card img{
    height: 50%;
}
.card-body .card-text{
    text-decoration: none;
}
.item a:link{
    text-decoration: none;
    color: black;
}
.item:hover{
    transform: scale(1.05);
    z-index: 2;
    box-shadow: 5px 10px 3px;
}


/* footer */
footer{
    margin-top: 50px;
}
.container *{
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-wrap:wrap;
}
.footer-col ul{
    list-style: none;
}
.footer-col ul li{
    padding: 0;
    margin:0;
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding:70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size:18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content:'';
    position: absolute;
    left:0;
    bottom:-10px;
    background-color:#e91e63;
    height: 2px;
    box-sizing:border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom:10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform:capitalize ;
    color:#ffffff;
    text-decoration: none;
    font-weight: 300;
    color:#bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color:#ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display:inline-block;
    height: 40px;
    width: 40px;
    background-color:rgba(255,255,255,0.2);
    margin-right:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color:#24262b;
    background-color: #ffffff;
}

/* responsive footer */
@media(max-width:767px) {
    .footer-col{
        width:50%;
        margin-bottom:30px;
    }
}
@media(max-width:574px){
    .footer-col{
        width:100%;
    }
}