/* tips page */
.tips-page{
	height: 300px;
	width: 80%;
	display: flex;
	margin:auto;
	margin-bottom: 30px;
}
.tips-page h1{
	color: #F99417;
}
.tips-page p{
	margin-top: 50px;
}

/* category */
.category-heading{
    display:flex;
	align-items: flex-end;
}

.category-heading h1{
    font-size:20px;
	padding-right:10px;
}

.category-heading a p{
    font-size:15px;
}

.quiz-category{
	display:flex;
}

.quiz-category #inner-content{
	display:flex;
}

.quiz-details{
    width:30vw;
	height:auto;
}

.quiz-details h2{
	font-size: 20px;
	text-align:center;
}

.image-container{
    aspect-ratio: 16 / 9;
}

.image-container img{
    width:100%;
    height:100%;
    object-fit: cover;
}

/* scroll item */
.wrapped{  
    border:1px solid #ddd;
    display: flex;
    overflow-x: auto;
    margin: 5px 20px 5px 20px;
    width: 90%;
    margin: auto;
    height: 250px;
}
.wrapped #inner-content{
	display: flex;
	width: 100%;
}
.wrapped::-webkit-scrollbar-thumb{
    width: 0px;
}
.wrapped #inner-content .item{
    border: solid black 2px;
    border-radius: 5%;
    width: calc(80%/4);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: calc(10%/3);
    margin-left: calc(10%/3);
    overflow: hidden;
    transition: 1s;
	height: 90%;
}
@media screen and (min-width:756px) {
    .wrapped .item{
        width: calc(75%/5);
    }
}
.wrapped #inner-content .item a .card{
    height: 100%;
}
.wrapped #inner-content .item a .card-body{
    height: 40%;
}
.wrapped #inner-content .item a .card img{
    height: 60%;
}
.card-body .card-text{
    text-decoration: none;
    margin:auto;
}
.item a:link{
    text-decoration: none;
    color: black;
}
.item:hover{
    transform: scale(1.05);
    z-index: 2;
    box-shadow: 5px 10px 3px;
}

.card{
    background-color: black;
    color: white;
    transition: 0.5s;
}

.item a .card:hover{
    background-color: white;
    color: black;
}