/* global font */
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #E8E2E2;
}

/* nav bar */
nav{
    margin-bottom: 50px;
}
.container-fluid{
    margin-left: 60px;
    margin-right: 60px;
}

.points-section{
    padding: 8px 5px 8px;
    box-sizing: border-box;
    background-color: #5D3891;
    color:white;
    border-radius: 10px;
    margin-right: 20px;
}

.profile-section{
    border-radius: 1%;
    display: flex;
    margin:auto;
    box-sizing: border-box;
    background-color: #5D3891;
    color:white;
    border-radius: 10px;
}

.profile{
    padding: 5px 5px 5px;
    margin: auto;
}

.profile-pic{
    border:solid black 2px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

#username-display{
    margin-right: 5px;
}