/* recent-developments section */

.recent-developments{
    display: flex;
    box-sizing: border-box;
    width:80%;
    height:450px;
    border:solid black 2px;
    border-radius: 5px;
    margin: auto;
    margin-top: 25px;
    overflow: hidden;
}

.content{
    width: 30%;
    height: 450px;
    background-color: aqua;
}

.separator{
    padding:0px 10px 0px 10px;
}
.line{
    width: 4px;
    height: 45%;
    background-color: purple;
    margin: auto;
}
.circle{
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    border: solid purple 2px;
    margin: 10px 0px 10px 0px;
}

/* carousell */
.recent-developments .carousel-container{
    width: 70%;
    height:450px;
}
.recent-developments .carousel-image{
    width: 100%;
    height:auto;
}


/* scroll item */
.heading{
    margin-top: 100px;
    text-align: center;
}
.strong-word{
    font-size: 50px;
    color: red;
}
.wrapped{  
    border:1px solid #ddd;
    display: flex;
    overflow-x: auto;
    margin: 5px 20px 5px 20px;
    width: 90%;
    margin: auto;
}
.wrapped::-webkit-scrollbar-thumb{
    width: 0px;
}
.wrapped .item{
    border: solid black 2px;
    border-radius: 5%;
    min-width: calc(80%/3);
    background-color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: calc(10%/3);
    margin-left: calc(10%/3);
    overflow: hidden;
    transition: 1s;
}
.wrapped .item a .card{
    height: 100%;
}
.wrapped .item a .card img{
    height: 50%;
}
.card-body .card-text{
    text-decoration: none;
}
.item a:link{
    text-decoration: none;
    color: black;
}
.item:hover{
    transform: scale(1.05);
    z-index: 2;
    box-shadow: 5px 10px 3px;
}

/* footer */
footer{
    width: 100%;
    height: 250px;
    background-color: black;
    margin-top: 100px;
}